<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="accordion.css" />
    <title>Accordion</title>
  </head>
  <body>
    <div class="accordion">
      <button
        class="accordion-button"
        type="button"
        onclick="transformAccordion()"
      >
        <h2 class="accordion-header">Accordion Header 1</h2>
        <div class="accordion-flash">></div>
      </button>
      <span id="accordion-content" class="accordion-content closed">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsam, nulla
        illum! Accusantium fugiat esse distinctio enim sit eum itaque eaque
        cumque nulla assumenda aliquid quibusdam ratione a facere, perferendis
        aliquam.
      </span>
    </div>
    <script src="accordion.js"></script>
  </body>
</html>
